@page "/Acerca de"

<header>
    <center>
        <h1>Datos del Admin</h1>
    </center>
</header>
<hr />
<section class="container-fluid">
    <center>
        <br />
        <img src="css/img/Foto de Perfil.jpg" width="400" height="400" />
        <br /><br />
        <p><b>Nombre: </b>Gabriel Ernesto</p>
        <p><b>Apellido: </b>De La Rosa Paniagua</p>
        <p><b>Matricula: </b>2019-7878</p>
        <p><b>Edad: </b>18 años</p>
        <p><b>Carrera: </b>Software</p>
        <p><b>Teléfono: </b>809-923-1044</p>
    </center>
</section>
